* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ececec;
    position: fixed;
    box-shadow: 0px 1px 31px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 1px 31px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 31px 0px rgba(0,0,0,0.5);
}

.logo{
    max-width: 5rem;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin-right: 30px;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}

.abrir-menu, .cerrar-menu{
    display: none;
}


@media screen and (max-width: 720px){
    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .cerrar-menu{
        color: white;
    }

    .abrir-menu{
        padding-right: 10px;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav-visible{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: white;
    }
}












.carrusel{
    width: 100vw;
    overflow: hidden;
    padding-top: 120px; /*ALterar para evitar sobreposcion*/
}
.carrusel ul {
    display: flex;
    list-style-type: none;
    width: 300%;
    transition: transform 0.6s ease-in-out;
}
.carrusel li {
    width: 33.33%;
}
.carrusel img{
    width: 100%;
}
